*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #faf5ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #645575;
    display: flex;
    flex-direction: column;
}

body {}

.content {
    flex: 1;
}

.container {
    display: flex;
    padding: 32px;
}

.header .container {
    align-items: center;
    gap: 48px;
}

.header .logo {
    background-color: #645575;
    border-radius: 10px;
    color: #faf5ff;
    font-size: 64px;
    padding: 32px;
}

.header {
    border-bottom: 2px solid rgb(211, 195, 218);
}

.header .opening {
    font-size: 48px;

}

.content>.container {
    flex-direction: column;
    gap: 20px;
}

.recipes ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}



li {
    width: 350px;
    height: 350px;
    border: 2px solid #645575;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f3ecf9;
}

li img {
    width: 200px;
    border-radius: 10px;
}

li a {
    color: #43187f;
    font-size: 20px;
    font-weight: 700;
}

.register {
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.register .container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

span {
    color: #48335d;
}

button {
    flex: 0 0 auto;
    align-self: flex-start;
    background-color: #48335d;
    color: #faf5ff;
    border: 2px solid #faf5ff;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
}


.footer {
    background-color: rgb(211, 195, 218);
}

.footer .container {
    justify-content: center;

}